/* colors 
lust: #E52712
charleston green: #292929

/* end colors */


/* Set main columns */

#still-column{
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #FF5951; 
}

#scrolling-column{
    background-color: #292929;
    position: relative;
    top: 0%;
    left: 50%;  
    overflow-y: scroll;

}

/* End set main columns */



