/* colors 
lust: #E52712
charleston green: #292929

/* end colors */






/* Set main columns */

#still-column{
    background-color: #E52712

}
#scrolling-column{
    background-color: #292929

}



/* End set main columns */