/* colors 
dust storm: #F2D0C9;
platinate blue: #1B42D8;

/* end colors */



/* main columns */
#still-column{
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #1B42D8;
    
}
#scrolling-column{
    
    position: relative;
    top: 0%;
    left: 50%;  
    overflow-y: scroll;
    background-color: #F2D0C9;
}
/* main columns */

/* main logo */
.main-logo-archi{
    font-family: Poppins;
    font-weight: 900; 
    float: right;  
    font-size: 100px;
    color: #1B42D8;
}

.main-logo-gram{
    font-family: Poppins;
    font-weight: 900; 
    float: left;  
    font-size: 100px;
    color: #1B42D8;
}

#auth{
    font-family: Poppins;
    font-weight: 900; 
    font-size: 50px;
    color: #1B42D8;

}




