/* colors 
lust: #E52712
charleston green: #292929

/* end colors */



/* main columns */
#still-column{
    position: fixed;
    top: 0%;
    left: 0%;
}
#scrolling-column{
    
    position: relative;
    top: 0%;
    left: 25%;  
    right:0%;
    overflow-y: scroll;
    background-color: #696969;
}
/* main columns */

/* main logo */
.main-logo-archi{
    font-family: Poppins;
    font-weight: 900; 
    float: right;  
    font-size: 100px;
}

.main-logo-gram{
    font-family: Poppins;
    font-weight: 900; 
    float: left;  
    font-size: 100px;
}




