{%extends 'main/base.html'%}
{%load bootstrap4%}
{% load static%}

<head>
        <meta charset="utf-8">
      
        {% if title %}
        <title>archigram - {{title}}</title>
        {% else %}
          <title> archigram- capture great architecture </title>
        {% endif %}
      
        {% block styles %}
          {% bootstrap_css %}
          <link rel="stylesheet" href="{% static 'css/profile.css'%}">
          <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        {% endblock %}
      
      </head>

{%block content%}
<header>
	<div class="container">
		<div class="profile">
            <!-- image -->
			<div class="profile-image">
				<img src="https:///images.unsplash.com/photo-1528325329579-605078ee56fb?w=152&h=152&fit=crop&crop=faces" alt="profile photo">
            </div>
            
            <!-- user information -->
			<div class="profile-user-settings">
				<h1 class="profile-user-name">user1</h1>
				<button class="btn profile-edit-btn">Edit Profile</button>
				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
            </div>

            <!-- statistics -->
			<div class="profile-stats">
				<ul>
					<li><span class="profile-stat-count">164</span> posts</li>
					<li><span class="profile-stat-count">188</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>
			</div>

            <!-- profile -->
			<div class="profile-bio">
				<p><span class="profile-real-name">Ranae Njala</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>
			</div>
		</div>
		<!-- End of profile section -->
	</div>
	<!-- End of container -->

</header>

<!-- user's post -->
<main>
	<div class="container">
		<div class="gallery">

            <!-- start for loop here  -->
            <!-- item1  -->
			<div class="gallery-item" tabindex="0">
				<img src="https://images.unsplash.com/photo-1469539188336-fcd3b39d5efb?w=500&h=500&fit=crop" class="gallery-image" alt="">
				<div class="gallery-item-info">
					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
					</ul>
				</div>
            </div>
            <!-- item2  -->
			<div class="gallery-item" tabindex="0">
				<img src="https://images.unsplash.com/photo-1546562084-2f5d957d3baf?w=500&h=500&fit=crop" class="gallery-image" alt="">
				<div class="gallery-item-info">
					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
					</ul>
				</div>
            </div>
            <!-- item3  -->
            <div class="gallery-item" tabindex="0">
                    <img src="https://images.unsplash.com/photo-1461638189575-2a947ecbf2cb?w=500&h=500&fit=crop" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
                        </ul>
                    </div>
                </div>
                <!-- item4  -->
                <div class="gallery-item" tabindex="0">
                    <img src="https://images.unsplash.com/photo-1476891626313-2cecb3820a69?w=500&h=500&fit=crop" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
                        </ul>
                    </div>
                </div>
                <!-- item5  -->
                <div class="gallery-item" tabindex="0">
                        <img src="https://images.unsplash.com/photo-1551563700-74b5351212cb?w=500&h=500&fit=crop" class="gallery-image" alt="">
                        <div class="gallery-item-info">
                            <ul>
                                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
                                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
                            </ul>
                        </div>
                    </div>
                    <!-- item6  -->
                    <div class="gallery-item" tabindex="0">
                        <img src="https://images.unsplash.com/photo-1459767129954-1b1c1f9b9ace?w=500&h=500&fit=crop" class="gallery-image" alt="">
                        <div class="gallery-item-info">
                            <ul>
                                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
                            </ul>
                        </div>
                    </div>

			

		</div>
		<!-- End of gallery -->

		<div class="loader"></div>

	</div>
	<!-- End of container -->

</main>

{%endblock%}