{%extends 'main/base.html'%}
{%load bootstrap4%}

{%block content%}
{{block.supper}}

<!-- Main navigation -->
<header>
     
        <!-- Intro -->
        <section class="view">
      
          <div class="row">
      
            <div class="col-md-6">
                
              <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <h1 class="heading display-3" id="main-logo-archi">archigram</h1>
                
                <h4 class="subheading font-weight-bold">Share places that move you</h4>
                <!-- <div class="mr-auto">
                  <button type="button" class="btn btn-lily btn-margin btn-rounded">Get started <i class="fas fa-caret-right ml-3"></i></button>
                </div> -->
              </div>
      
            </div>
      
            <div class="col-md-6">
      
              <div class="view">
                <img src="https://images.pexels.com/photos/325045/pexels-photo-325045.jpeg" class="img-fluid" alt="smaple image">
                <div class="mask flex-center hm-gradient">
                </div>
              </div>
      
            </div>
      
          </div>
      
        </section>
        <!-- Intro -->
      
      </header>
      <!-- Main navigation -->

      {%endblock%}


      




