{%extends 'main/base.html'%}
{%load bootstrap4%}
{% load static %}

{%block content%}
{{block.supper}}

<!-- Main navigation -->
<header>
     
        <!-- Intro -->
        <section class="view">
      
          <div class="row">
      
            <div class="col-md-6">

                    
              <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <!-- <h1 class="heading display-3" id="main-logo-archi">archigram</h1> -->
                <img src="{%static 'index-logo.png'%}" height="250" alt="mdb logo">
                
                <h1 id="motto" class="subheading font-weight-bold">Share places that move you</h1>
              </div>
      
            </div>
      
            <div class="col-md-6">
      
              <div class="view">
                <img src="https://images.pexels.com/photos/325045/pexels-photo-325045.jpeg" class="img-fluid" alt="smaple image">
                <div class="mask flex-center hm-gradient">
                </div>
              </div>
      
            </div>
      
          </div>
      
        </section>
        <!-- Intro -->
      
      </header>
      <!-- Main navigation -->

      {%endblock%}


      




