{% load staticfiles %}

<div id="content" class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Login</h1>
        <form action="" method="post">
        {% csrf_token %}
            {{form.as_p}}
            <p>
                <button
                    type="submit"
                    class="btn btn-primary btn-block">
                    Login
                </button>
                Do you have an account? <a class="dropdown-item" href="/accounts/register">Register</a>
            </p>
        </form>
    </div>

</div>

