{%extends 'main/base.html'%}
{%load bootstrap4%}
{% load static %}

{%block content%}
{{block.supper}}


<div id="content" class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-4">

                {% if user_dp %}
                    <img src="{{user_dp.image.url}}" alt="dp" class="img-thumbnail img-responsive">
                {% else %}
                    <img src="{%static 'user.png'%}" alt="dp" class="img-thumbnail img-responsive">
                {% endif %}


                <h3>Upload your profile photo</h3>
                <form id="uploadDp" action="{% url 'upload_user_profile_pic' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{dp_form}}
                    <button type="submit" class="btn btn-primary">
                        Upload
                    </button>
                </form>



            </div>
            <div class="col-sm-8">
                <h1>@{{user.username}} <small>{{user.first_name}} {{user.last_name}}</small></h1>
                <span>{{count}} posts</span><br>
                <span>{{count}} folowers</span><br>
                <span>{{count}} following</span>
            </div>
        </div>
        <div class="row">
            <hr>

            <h3>My Posts</h3>
            {% for photo in photos %}
                <div class="col-sm-3">
                    <img class="img-responsive img-rounded" src="{{photo.image.url}}" alt="{{photo.caption}}" title="{{photo.caption}}" height="100"/>
                    <h3>{{photo.caption}}</h3>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{%endblock%}




<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4" id="still-column">
                
                
            </div>

            <div class="col-lg-8 center" id="scrolling-column">
                    
                            
                        

                <!-- Section: Social news card -->
                <section class="my-5">
                        
                    <!-- Grid row -->
                    <div class="row">
                            
                        <!-- Grid column -->
                        <div class="col-md-6 col-lg-4">
                                
                            <!-- Card -->
                            <div class="card news-card">
                                <!-- Heading-->
                                <div class="card-body">
                                    <div class="content">
                                        <!-- <div class="right-side-meta">14 h</div> -->
                                        <img src="https:///images.unsplash.com/photo-1528325329579-605078ee56fb?w=152&h=152&fit=crop&crop=faces"
                                            class="rounded-circle avatar-img z-depth-1-half ">username
                                    </div>
                                </div>
                                <!-- Card image-->
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1469539188336-fcd3b39d5efb?w=500&h=500&fit=crop"
                                    alt="Card image cap">
                                <!-- Card content -->
                                <div class="card-body">
                                    <!-- Social meta-->
                                    <div class="social-meta">
                                        <p>What a beautiful building </p>
                                        <span><i class="far fa-heart"></i>25 likes</span>
                                        <p><i class="fas fa-comment"></i>13 comments</p>
                                    </div>
                                    <hr>
                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </section>
                <!-- Section: Social news card -->


            </div>
        </div>
    </div>
</body>

