{%extends 'main/base.html'%}
{%load bootstrap4%}
{% load static %}

{%block content%}
{{block.supper}}


<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg  lighten-1">
        <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{%static 'logo-blue.png'%}" height="100" class="d-inline-block align-top"
                  alt="mdb logo">
              </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
          aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Timeline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Users</a>
            </li>
         
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            
            <li class="nav-item avatar dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {% if user_dp %}
                <img src="{{user_dp.image.url}}" class="rounded-circle z-depth-0" alt="avatar image" height="50">
                {% else %}
                <img src="{%static 'user.png'%}" class="rounded-circle z-depth-0" alt="avatar image" height="50">
              </a>
              {% endif %}
              <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-55">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Followers</a>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!--/.Navbar -->


  

       
      

      



        
        <section class="view">
      
                <div class="row">
            
                  <div class="col-md-6">
                      <!-- <h1>Followers</h1> -->
                                <!--Beginning of card-->
        <div class="" id="user_block">
          <div class="card card-cascade">
      
                <!--Card image-->
                <div class="view view-cascade overlay">
                  <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="card-img-top" alt="user_pic">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--/.Card image-->
          
                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                  <!--Title-->
                  <h4 class="card-title"><strong>@Username</strong></h4>
                  <!-- <h5>@username</h5> -->
          
                  <p class="card-text">no. followers, no. following
                    
                <p class="card-text">posts</p>
          
                  <!--Follow Button-->
                  <a type="button" class="btn-floating btn-small btn-fb"><i class="fas fa-plus"></i><br></a>
                  <br>
                  <a type="button" class="btn-floating btn-small btn-fb"><i class="fas fa-minus"></i></i><br></a>
                </div>
                <!--/.Card content-->
          
              </div>
              <!--/End of Card-->
                      
                    
            
            </div>
        </div>
            
                  <div class="col-md-6">
                        <!-- <h1>Following</h1> -->
                        
            
                    
            
                  </div>
            
                </div>
            
              </section>
              
{%endblock%}