{%extends 'main/base.html'%}
{%load bootstrap4%}
{% load static %}

{%block content%}
{{block.supper}}




       
      

      



        <!-- Intro -->
        <section class="view">
      
                <div class="row">
            
                  <div class="col-md-6">
                      <!-- <h1>Followers</h1> -->
                                <!--Beginning of card-->
        <div class="" id="user_block">
          <div class="card card-cascade">
      
                <!--Card image-->
                <div class="view view-cascade overlay">
                  <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="card-img-top" alt="user_pic">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--/.Card image-->
          
                <!--Card content-->
                <div class="card-body card-body-cascade text-center">
                  <!--Title-->
                  <h4 class="card-title"><strong>@Username</strong></h4>
                  <!-- <h5>@username</h5> -->
          
                  <p class="card-text">no. followers, no. following
                    
                <p class="card-text">posts</p>
          
                  <!--Follow Button-->
                  <a type="button" class="btn-floating btn-small btn-fb"><i class="fas fa-plus"></i><br></a>
                  <br>
                  <a type="button" class="btn-floating btn-small btn-fb"><i class="fas fa-minus"></i></i><br></a>
                </div>
                <!--/.Card content-->
          
              </div>
              <!--/End of Card-->
                      
                    
            
            </div>
        </div>
            
                  <div class="col-md-6">
                        <!-- <h1>Following</h1> -->
                        
            
                    
            
                  </div>
            
                </div>
            
              </section>
              <!-- Intro -->
{%endblock%}