{%extends 'main/base.html'%}
{%load bootstrap4%}

{%block content%}
{{block.supper}}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4" id="still-column">
                <h1 class="main-logo">archigram</h1>
            </div>

            <div class="col-lg-8" id="scrolling-column">

                <!-- Section: Social news card -->
                <section class="my-5">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-6 col-lg-4">
                            <!-- Card -->
                            <div class="card news-card">
                                <!-- Heading-->
                                <div class="card-body">
                                    <div class="content">
                                        <div class="right-side-meta">14 h</div>
                                        <img src="https:///images.unsplash.com/photo-1528325329579-605078ee56fb?w=152&h=152&fit=crop&crop=faces"
                                            class="rounded-circle avatar-img z-depth-1-half ">username
                                    </div>
                                </div>
                                <!-- Card image-->
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1469539188336-fcd3b39d5efb?w=500&h=500&fit=crop"
                                    alt="Card image cap">
                                <!-- Card content -->
                                <div class="card-body">
                                    <!-- Social meta-->
                                    <div class="social-meta">
                                        <p>What a beautiful building </p>
                                        <span><i class="far fa-heart"></i>25 likes</span>
                                        <p><i class="fas fa-comment"></i>13 comments</p>
                                    </div>
                                    <hr>
                                    <!-- Comment input -->
                                    <div class="md-form">
                                        <i class="far fa-heart prefix"></i>
                                        <input placeholder="Add Comment..." type="text" id="form5" class="form-control">
                                    </div>

                                </div>
                                <!-- Card content -->

                            </div>
                            <!-- Card -->

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </section>
                <!-- Section: Social news card -->

                                <!-- Section: Social news card -->
                                <section class="my-5">
                                        <!-- Grid row -->
                                        <div class="row">
                                            <!-- Grid column -->
                                            <div class="col-md-6 col-lg-4">
                                                <!-- Card -->
                                                <div class="card news-card">
                                                    <!-- Heading-->
                                                    <div class="card-body">
                                                        <div class="content">
                                                            <div class="right-side-meta">14 h</div>
                                                            <img src="https:///images.unsplash.com/photo-1528325329579-605078ee56fb?w=152&h=152&fit=crop&crop=faces"
                                                                class="rounded-circle avatar-img z-depth-1-half ">username
                                                        </div>
                                                    </div>
                                                    <!-- Card image-->
                                                    <img class="card-img-top" src="https://images.unsplash.com/photo-1469539188336-fcd3b39d5efb?w=500&h=500&fit=crop"
                                                        alt="Card image cap">
                                                    <!-- Card content -->
                                                    <div class="card-body">
                                                        <!-- Social meta-->
                                                        <div class="social-meta">
                                                            <p>What a beautiful building </p>
                                                            <span><i class="far fa-heart"></i>25 likes</span>
                                                            <p><i class="fas fa-comment"></i>13 comments</p>
                                                        </div>
                                                        <hr>
                                                        <!-- Comment input -->
                                                        <div class="md-form">
                                                            <i class="far fa-heart prefix"></i>
                                                            <input placeholder="Add Comment..." type="text" id="form5" class="form-control">
                                                        </div>
                    
                                                    </div>
                                                    <!-- Card content -->
                    
                                                </div>
                                                <!-- Card -->
                    
                                            </div>
                                            <!-- Grid column -->
                    
                                        </div>
                                        <!-- Grid row -->
                    
                                    </section>
                                    <!-- Section: Social news card -->


            </div>
        </div>
    </div>
</body>

{%endblock%}