/* colors 
lust: #E52712
charleston green: #292929

/* end colors */




body{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: cyan;
}

/* Set main columns */






/* End set main columns */